// Definir los colores personalizados
$primary-color: #3300ff;
$secondary-color: #333;

// Personalizar el tema de Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Cambiar el color de fondo y los botones
$btn-primary-bg: $primary-color;
$btn-primary-border: $primary-color;
$btn-primary:$primary-color